body{
margin:0;
font-family:system-ui;
background:#f4f6f8;
}

/* HEADER */

.topo{
background:white;
padding:10px;
text-align:center;
}

.logo{
width:150px;
}

/* BANNERS */

#banners img{
width:100%;
border-radius:10px;
margin-top:8px;
}

/* INSTAGRAM */

.instagram{
width:100%;
height:140px;
border:none;
margin-top:10px;
}

/* CATEGORIAS */

nav{
display:flex;
gap:10px;
overflow:auto;
padding:10px;
background:white;
}

/* PRODUTOS */

#produtos{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(180px,1fr));
gap:15px;
padding:15px;
margin-right:320px;
}

.card{
background:white;
border-radius:12px;
padding:10px;
box-shadow:0 2px 8px rgba(0,0,0,.1);
}

.card img{
width:100%;
height:130px;
object-fit:cover;
border-radius:10px;
}

.preco{
color:#e53935;
font-weight:bold;
}

/* PEDIDO MODERNO */

.pedido{
position:fixed;
right:10px;
bottom:10px;
width:280px;
background:white;
padding:15px;
border-radius:14px;
box-shadow:0 8px 25px rgba(0,0,0,.2);
}

.pedido input,
.pedido select,
.pedido textarea{
width:100%;
margin-top:6px;
padding:7px;
}

.pedido button{
margin-top:10px;
width:100%;
padding:10px;
background:#25D366;
border:none;
color:white;
font-weight:bold;
border-radius:8px;
}

/* RODAPE MENOR */

.rodape{
background:#111;
color:white;
padding:10px;
font-size:14px;
text-align:center;
}
