body{
margin:0;
font-family:system-ui;
background:#f4f6f8;
}

/* HEADER */

.topo{
background:white;
padding:15px;
text-align:center;
box-shadow:0 2px 10px rgba(0,0,0,.1);
}

.logo{width:160px;}

.instagram{
width:100%;
height:150px;
border:none;
margin-top:10px;
}

/* CATEGORIAS */

nav{
display:flex;
gap:10px;
overflow:auto;
padding:10px;
background:white;
position:sticky;
top:0;
z-index:10;
}

nav button{
border:none;
background:#eee;
padding:8px 18px;
border-radius:20px;
cursor:pointer;
white-space:nowrap;
}

/* PRODUTOS */

#produtos{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(180px,1fr));
gap:15px;
padding:15px;
margin-right:320px;
}

.card{
background:white;
border-radius:12px;
padding:10px;
box-shadow:0 3px 8px rgba(0,0,0,.1);
}

.card img{
width:100%;
height:130px;
object-fit:cover;
border-radius:10px;
}

.preco{
color:#e53935;
font-weight:bold;
}

/* QTD */

.qtd{
display:flex;
justify-content:space-between;
margin-top:10px;
}

.qtd button{
background:#ff5722;
border:none;
color:white;
width:30px;
height:30px;
border-radius:6px;
cursor:pointer;
}

/* CARRINHO */

.pedido{
position:fixed;
right:15px;
bottom:15px;
width:280px;
max-height:85vh;
overflow:auto;

background:white;
padding:15px;
border-radius:12px;
box-shadow:0 5px 20px rgba(0,0,0,.2);
}

.pedido input,
.pedido select,
.pedido textarea{
width:100%;
margin-top:6px;
padding:6px;
}

.pedido button{
width:100%;
margin-top:10px;
padding:10px;
background:#25D366;
border:none;
color:white;
font-weight:bold;
border-radius:8px;
cursor:pointer;
}

.rodape{
background:#111;
color:white;
text-align:center;
padding:20px;
}
