body{
margin:0;
font-family:system-ui;
background:#0a0a0a;
color:white;
}

/* HEADER */

.topo{
background:#111;
text-align:center;
padding:15px;
}

.logo{
width:170px;
}

.banner video{
width:100%;
height:220px;
object-fit:cover;
border-radius:12px;
}

/* CATEGORIAS */

nav{
display:flex;
overflow:auto;
gap:10px;
padding:15px;
background:#121212;
}

nav button{
background:#1c1c1c;
border:none;
color:white;
padding:10px 20px;
border-radius:30px;
cursor:pointer;
}

/* PRODUTOS */

#produtos{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(220px,1fr));
gap:20px;
padding:20px;
}

.card{
background:#151515;
border-radius:15px;
padding:15px;
box-shadow:0 0 15px rgba(0,0,0,.6);
transition:.3s;
}

.card:hover{
transform:translateY(-5px);
}

.preco{
color:#25D366;
font-size:18px;
font-weight:bold;
}

.qtd{
display:flex;
justify-content:center;
gap:10px;
margin-top:10px;
}

.qtd button{
width:35px;
height:35px;
background:#25D366;
border:none;
color:white;
border-radius:6px;
}

/* PEDIDO */

.pedido{
background:#111;
padding:20px;
}

.form input,
.form select,
.form textarea{
width:100%;
margin:6px 0;
padding:10px;
border-radius:8px;
border:none;
}

button{
background:#25D366;
border:none;
padding:15px;
width:100%;
border-radius:8px;
font-weight:bold;
}

/* FOOTER */

footer{
text-align:center;
padding:30px;
background:#000;
}
