body{
font-family:system-ui;
background:#f5f1ec;
margin:0;
}

.card{
height:260px;
background-size:cover;
color:white;
display:flex;
flex-direction:column;
justify-content:flex-end;
padding:10px;
margin:10px;
border-radius:12px;
}

.preco{
color:white;
font-weight:bold;
}

.pedido{
position:fixed;
right:10px;
bottom:10px;
background:#111;
color:white;
padding:15px;
width:280px;
}

.rodape{
position:fixed;
bottom:0;
width:100%;
background:#000;
color:white;
text-align:center;
padding:6px;
}
