body{
margin:0;
font-family:system-ui;
background:#f5f5f7;
color:#222;
}

/* HEADER */

.topo{
background:white;
padding:10px;
text-align:center;
box-shadow:0 2px 8px rgba(0,0,0,.1);
}

.logo{
width:160px;
}

.banner video{
width:100%;
height:200px;
object-fit:cover;
border-radius:12px;
}

/* CATEGORIAS */

nav{
display:flex;
overflow:auto;
gap:10px;
padding:10px;
background:white;
}

nav button{
background:#eee;
border:none;
padding:8px 18px;
border-radius:20px;
cursor:pointer;
}

/* PRODUTOS */

#produtos{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(200px,1fr));
gap:15px;
padding:15px;
}

.card{
background:white;
border-radius:12px;
padding:15px;
box-shadow:0 2px 6px rgba(0,0,0,.1);
}

.preco{
color:#e53935;
font-weight:bold;
}

.qtd{
display:flex;
justify-content:center;
gap:10px;
margin-top:10px;
}

.qtd button{
background:#ff5722;
color:white;
border:none;
width:35px;
height:35px;
border-radius:6px;
}

/* PEDIDO */

.pedido{
background:white;
padding:20px;
margin-top:20px;
}

.form input,
.form select,
.form textarea{
width:100%;
margin:6px 0;
padding:10px;
border-radius:8px;
border:1px solid #ccc;
}

button{
background:#ff3d00;
color:white;
border:none;
padding:15px;
border-radius:8px;
width:100%;
font-weight:bold;
}
