body{
margin:0;
font-family:system-ui;
background:#f4f6f8;
}

/* HEADER */

.topo{
background:white;
padding:15px;
text-align:center;
box-shadow:0 2px 10px rgba(0,0,0,.1);
}

.logo{
width:160px;
}

.instagram{
width:100%;
height:160px;
border:none;
margin-top:10px;
}

/* CATEGORIAS */

nav{
display:flex;
gap:10px;
overflow:auto;
padding:10px;
background:white;
}

nav button{
background:#eee;
border:none;
padding:8px 18px;
border-radius:20px;
}

/* PRODUTOS */

#produtos{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(180px,1fr));
gap:15px;
padding:15px;
}

.card{
background:white;
border-radius:12px;
padding:10px;
box-shadow:0 3px 8px rgba(0,0,0,.1);
}

.card img{
width:100%;
height:120px;
object-fit:cover;
border-radius:10px;
}

.preco{
color:#e53935;
font-weight:bold;
}

/* PEDIDO */

.pedido{
background:white;
margin:15px;
padding:15px;
border-radius:12px;
box-shadow:0 2px 8px rgba(0,0,0,.1);
}

/* FOOTER */

.rodape{
background:#111;
color:white;
padding:25px;
text-align:center;
}

.rodape a{
color:#ff9800;
text-decoration:none;
}
